node_modules
public
.tmp
.sass-cache
.idea
client/bower_components
dist
/server/config/local.env.js
npm-debug.log

dist/*
.tmp
.sass-cache
bower_components
webapp/bower_components
webapp/test/bower_components
nodeapp/node_modules
test/bower_components
*.log
